/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* CSS Document */
html, body {
	margin: 0px;
	padding: 0px;
	background: #ffffff;
	position: relative;
}
#all {
  position: relative;
	text-align: left;
}
#header {
	display: block;
	/*background-color: #B8FF4C;*/
	/*background-color: #FFFF99;*/
	/* 31 октября 2007, захотелось поменять фон шапки */
  background-color: rgb(245,245,220);
	/*border-bottom-color: #333333;
	border-bottom-style: solid;
	border-bottom-width: 1px;*/
	margin: 0px;
	width: 100%;
	height: 50px;
	padding-top: 5px;
}
#container {
	position: relative;
	display: block;
	border-left: solid 150px #ffffff;
	border-right: solid 120px #ffffff;
}
#inner {
	display: block;
	position: relative;
	margin-left: -150px;
	margin-right: -120px;
	padding: 1px;
}
#left {
	float: left;
	position: relative;
	width: 120px;
	left: 0px;
	min-height: 600px;
}
#right {
	position: absolute;
	width: 120px;
	right: 0px;
	top: 0px;
	display: block;
	min-height: 700px;
}
#center {
	margin-left: 170px;
	margin-right: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	display: block;
	height: 1%;
}
.clear {
	clear: both;
}
#footer {
  bottom: 0;
	display: block;
	height: 130px;
	/*background: #D4D4D4; 31.10.2007, ещё кое-что */
	background: rgb(230,230,250);
	padding: 1px;
	overflow: visible;
	/*border-top: #666666 solid 1px;*/
}
#header, #footer {
	padding: 0.3em 0;
}
/* my addons */
#sitename {
	margin: 5px 10px;
}
#small {
	font-size: 8pt;
	color: #000000;
	margin-top: -5px;
	padding: 0;
}
.copyright, small {
	line-height: normal;
}
#sitename h1, #big, #small {
	display: block;
	margin: 5px auto;
	font-weight: normal;
}
#sitename h1 a, #sitename h1 a:visited {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FF0000;
	background-color: inherit;
	font-size: 18pt;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
#sitename h1 a:hover {
	text-decoration: underline;
}
#sitename h1 span {
	font-weight: bold;
}
#banner {
	text-align: right;
	margin-top: -1px;
	margin-right: 5px;
	vertical-align: middle;
	padding: 0px;
	margin-bottom: 0px;
	width: 390px;
	float: right;
}
#bottomleft {
	width: 410px;
	padding: 10px;
	float: left;
}
#bottombanners {
	padding: 20px;
	float: right;
}
#bottombanners img {
	margin: 3px;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10pt;
	color: #444444;
	background-color: #FFFFFF;
}
code {
	display: block;
	text-align: left;
	color: #0000BB;
	font-size: 9pt;
	font-family: "Courier New", Courier, mono;
	position: relative;
	width: auto;
	padding: 10px;
	margin: 10px 0;
	background: rgb(243,243,243);
	border: 1px solid rgb(227,227,227);
	max-height: 200px;
	overflow: auto;
}
pre {
	font-size: 9pt;
	font-family: "Courier New", Courier, mono;
}
img {
	border-width: 0px;
	border-style: none;
}
#center * {
    line-height: 1.5em;
}
#center li {
	list-style-image: url(/assets/bullet.gif);
}
#center ol {
	list-style-image: none;
}
.copyright {
	color: #606060;
	background-color: inherit;
	font-size: 10px;
	font-family: Tahoma;
	text-decoration: none;
}
.red {
	color: #ff0000;
	background-color: inherit;
}
#strong {
	font-weight: bold;
}
.warning {
	color: #FF0000;
	background-color: inherit;
	font-weight: bold;
	font-style: italic;
}
.field {
	border: 1px solid #999999;
	background-color: #F2F8FF;
	padding: 2px;
}
.style1 {
	font-size: 80%;
	color: #666666;
}
p {
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
}
p, li, div {
	line-height: 125%;
}
h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13pt;
	text-align: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
}
h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 20px;
	color: #444444;
	border-bottom: none;
}
h2 a:link,  h2 a:visited, h2 a:hover {
	text-decoration: underline !important;
	border-bottom: none !important;
}
h2 a {
	color: #444444 !important;
}
h2 a:hover {
	color: white !important;
}
hr {
	height: 1px;
	color: #C0C0C0;
	width: 100%;
}
form, input, option, textarea {
	font-size: 9pt;
	margin: 0px;
	padding: 0px;
}
.submitform {
	width: 45px;
	height: 20px;
	cursor: pointer;
}
.mainlinks a {
	font-family: Verdana, Arial;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
}
.mainlinks a:hover {
	margin-left: 3px;
	color: #FF0000;
	background-color: inherit;
	text-decoration: none;
}
#center a {
	font-weight: bold;
}
#center a:link {
	color: #ff0000;
	background-color: inherit;
}
#center a:visited {
	color: #FF5151;
	background-color: inherit;
}
#center a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #ff0000;
}
#linkadver {
	margin-top: 90px;
	padding: 10px;
}
#linkadver a {
	color: #606060;
	background-color: inherit;
	font-size: 12px;
	font-family: Tahoma;
	text-decoration: none;
}
dl#foxgb {
	max-width: 700px;
	min-width: 200px;
}
dl#foxgb dt {
	margin: 5px 10px 0px 0px;
	font-size: 8pt;
	color: #000000;
	background-color: inherit;
}
dl#foxgb dd {
	margin: 5px 10px 10px 0px;
	color: #000000;
	background-color: inherit;
	border-bottom: 1px solid #C0C0C0;
	padding: 0 0 10px 10px;
}
dl#foxgb div.reply {
	margin: 5px 10px 0px 10px;
	font-size: 8pt;
	color: #666666;
	background-color: inherit;
	font-style: italic
}
ul#menu {
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 20px;
	padding: 0px;
	font-size: 11pt;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
ul#menu li {
	list-style-position: outside;
	list-style-image: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#menu li a {
	font-weight: bold;
	text-decoration: none;
	color: #333333;
	background-color: inherit;
}
ul#menu li a:hover {
	margin-left: 3px;
	color: #FF0000;
	background-color: inherit;
	text-decoration: none;
}
#searchpanel {
	margin: 0 10px;
}
#searchpanel select, #searchpanel input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 8pt;
}
#searchpanel .submitform {
	width: 30px;
	height: 20px;
	cursor: pointer;
}
#textinfo {
	background-color: #CAD6FF;
	min-width: 600px;
}
#textinfo td {
	padding: 3px;
	width: 50%;
}
#textintro {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
#textbody {
	margin-top: 10px;
	margin-bottom: 20px;
}
.oplata {
	font-size: 120%;
	font-weight: bold;
}
div#photocat {
	width: 90%;
	margin: 20px auto;
}
.photocell {
	background-color: #CAD6FF;
	padding: 3px;
	margin: 2px;
	float: left;
}
.photocell p {
	font-size: 80%;
	color: #666666;
	text-align: center;
	margin-bottom: 0px;
}
.photocell img { border: 1px solid #666666; }
div#lastinfo {
	margin-bottom: 20px;
}
.links { visibility:hidden; display:none; }

/* про комменты, мать их так */
#commentpost { margin-bottom: 20px; width: 300px;}

/* подсветка поисковых слов. 7 июня 2007, 2:33 слушаю Posrtishead */
.hl {background-color:#99FF33;font-weight:bold;}
/* значок на числе комментов */
.topicinfo { font-size: 80%; color: #9d9d9d; }
.comments, #foxgb dt strong { padding-left: 13px; background: url(/assets/comments.png) no-repeat left top; }
.read { padding-left: 12px; background: url(/assets/read.png) no-repeat left top; }
.rate { padding-left: 13px; background: url(/assets/rate.png) no-repeat left top; }
.file { padding-left: 15px; margin-right: 15px; background: url(/assets/file.png) no-repeat 1px 3px; }
.file:hover { background: url(/assets/filehover.png) no-repeat 1px 3px; }