// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
	&#date {
		font-size: 80%;
		color: #999999;
		margin: 5px 0;
	}
	&#news {
		
	}
	&#back {
		margin: 5px 0;
	}
}