<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="ru" />
<meta name="Name" content="<?=$SITE_NAME?>" />
<meta name="Keywords" content="<?=strip_tags($KEYWORDS)?>" />
<meta name="Description" content="<?=strip_tags($DESCRIPTION)?>" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/css/screen.css" media="screen,projection" />
<title>FoxWeb</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5711316-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="all">
<div class="head"><div id="sitename"><h1><a href="/"><span>F</span>ox<span>W</span>eb</a></h1> <span id="small">софт для студентов</span></div></div>
<div id="container">
<div id="inner">
<div id="left"><ul id="menu"><li><a href="/texts/">Заметки</a></li><li><a href="/files/">Файлы</a></li><li><a href="http://photo.kurepin.com/">Фото</a></li><li><a href="http://kurepin.com/">Обо мне</a></li><li><a href="/links/">Ссылки</a></li><li><a href="/other/">Разное</a></li></ul>
<? include_once $MOD_DIR."/search.php"; ?>
</div>
<div id="center">
<%= yield %>
</div>
<div id="right">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9333284903087850";
/* dev.kurepin.com 2 */
google_ad_slot = "1315547637";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<div class="clear"></div></div></div>
<div class="foot"><div id="bottomleft"><div id="copyright"><a href="/other/#copyright" class="copyright">&copy; 2003&mdash;<?=date("Y")?>	foxweb<br /><br />Все материалы, размещенные на данном сайте, являются собственностью своих авторов. Свободное распространение возможно только при указании имени автора и прямой ссылки на FoxWeb или на сайт автора.</a></div></div>
</div></div>
</body>
</html>